@using GoodsStore.BusinessLogic.Models
@model IEnumerable<GoodsModel>

@foreach (var g in @Model)
{
    <div class="listGoods_card">
        <div class="thumbnail cards"
             onclick="window.location.href='/Goods/GetGoodsDescription?goodsId=@g.GoodsId&page=1'">
            @if (g.ImageData != null)
            {
                <div class="card_for_image">
                    <img class="cards_image" src="@Url.Action("GetImage", "Goods",
                new { g.GoodsId })" />
                </div>
            }
            <div class="caption cards_body">
                <div class="cards_description">
                    <h4><b>@g.Name</b></h4>
                    <p>@g.Description</p>
                </div>
                <h4>@g.Price руб.</h4>
                <div class="rating_body">
                    <div class="rate_background">
                        <div class="rate_bar" style="width:@((g.Rating*20)+"%");"></div>
                    </div>
                    <div class="rating">
                        @String.Format("{0:0.0}", g.Rating)
                    </div>
                </div>
            </div>
        </div>
    </div>
}

